<a href="https://colab.research.google.com/github/votrannhatquang/AI-s-ng-th-7/blob/main/pima_indians_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [248]:
import pandas as pd

url ="/content/pima-indians-diabetes.csv"
data = pd.read_csv(url)
data.head(5)

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [249]:
X= data.loc[:,['6','148','72','35','0','33.6','0.627','50']]
y= data['1']

In [250]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [251]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
sc=StandardScaler()
sc.fit(X_train)
x_train_Std=sc.transform(X_train)
X_test_Std=sc.transform(X_test)

In [252]:
model=Perceptron(max_iter=100,eta0=0.2,random_state=0)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)
print(y_pred[:5])
print(y_test[:5])
print('do chinh xac mo hinh  scale:',accuracy_score(y_test,y_pred)*100)

[0 1 0 0 0]
610    1
265    1
703    0
97     0
455    0
Name: 1, dtype: int64
do chinh xac mo hinh  scale: 67.96536796536796